$primary-color: #28d8b7;
$secondary-color: #5044b8;
$tertiary-color: #e5f0f1;
$success-color: #3eb43e;
$error-color: #d51246;
$warning-color: #eca300;
$normal-color: #d9d9d9;
$light-blue: #1890ff;
$gray: rgb(128, 128, 128);
$white: #fff;
$white-30: rgba($white, 0.3);
$black: #000;
$black-15: rgba($black, 0.15);
$black-35: rgba($black, 0.35);
$black-45: rgba($black, 0.45);
$black-85: rgba($black, 0.85);
$faded-text-color: #00000066;
$dark-text-color: #000000b3;
$visited-links-color: #a727bf;

// Font sizes
$small: 1.4rem;
$medium: 1.8rem;
$large: 2rem;

$border-radius: 0rem;
$box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
